body {
background-image:url("../bg/bg.jpg");
background-repeat:no-repeat;
background-size:cover;
margin:0;
font-family:Arial;
}

div {
border-radius:5px;
position:absolute;
background-color:black;
}

img{
border-radius:5px;
margin:5;
}

.head {
width:1536;
height:40px;
background-color:black;
border-radius:0px;
color:white;
font-family:Arial;
font-size:30;
line-height:1.3;
}

.main {
width:100%;
height:700;
top:40;
border-radius:0px;
background-color:transparent;
opacity:1;

}

.foot {
width:1536;
height:20px;
top:740;
background-color:black;
border-radius:0px;
}

.headtext{
height:40;
width:100;
left:0;
padding:0px 10px;
line-height:40px;
border-radius:0px;
background-color:black;
}
.headmusic{
height:40;
width:60;
left:1460;
font-size:20;
text-align:center;
line-height:40px;
border-radius:0px;
background-color:black;
}
.headmusic:hover{
color:black;
background-color:white;
}
.headhome{
height:40;
width:60;
left:1400;
font-size:20;
text-align:center;
line-height:40px;
border-radius:0px;
background-color:black;
}
.headhome:hover{
color:black;
background-color:white;
}

